<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Volka | BeJ</title>

  <link rel="stylesheet" href="/dist/css/reset.css">
  <link rel="stylesheet" href="/plugins/fullcalendar/main.css">
  <link rel="stylesheet" href="/plugins/fontawesome-free/css/all.min.css">
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <link rel="stylesheet" href="/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
  <link rel="stylesheet" href="/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
  <link rel="stylesheet" href="/plugins/jqvmap/jqvmap.min.css">
  <link rel="stylesheet" href="/dist/css/adminlte.min.css">
  <link rel="stylesheet" href="/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
  <link rel="stylesheet" href="/plugins/daterangepicker/daterangepicker.css">
  <link rel="stylesheet" href="/plugins/summernote/summernote-bs4.min.css">
  <style>

    .plus-icon:hover {
      color: gold;
      cursor: pointer;
    }

    .nav-link:hover {
      color: black !important;
    }


    .nav li a {
      background-color: white;
    }

    .nav-item .nav-link.active {
      background-color: lightgrey;
    !important;
    }

    .external-event {
      font-weight: lighter;
    }

    #promiseModal .fc-color-picker a.selected i {
      border: 2px solid #000; /* 선택된 색상에 검은 테두리 추가 */
      padding: 2px; /* 테두리와 아이콘 사이의 여백 설정 */
    }

  </style>
</head>
<body class="hold-transition sidebar-mini">

<div class="wrapper">
  <!-- Navbar -->
  <nav th:replace="fragments/sidebar :: top"></nav>
  <aside th:replace="fragments/sidebar :: sidebar"></aside>

  <div class="content-wrapper">
    <br>
    <section class="content">
      <div class="container-fluid">
        <div class="row">

          <div class="col-md-9">
            <div class="card">

              <div class="card-body" style="height: 90vh">
                <img src="/dist/img/home.jpg" style="width: 100%; height: 100%; object-fit: cover;">
              </div>
            </div>
          </div>
          <div th:replace="fragments/friend :: friend"></div>
        </div>
      </div>
    </section>
  </div>
  <footer th:replace="fragments/footer :: footer"></footer>
  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<div th:replace="fragments/friend :: friendModal"></div>
<div th:replace="fragments/friend :: promiseModal"></div>
<div th:replace="fragments/friend :: promiseResModal"></div>
<!-- ./wrapper -->
<script src="/plugins/jquery/jquery.min.js"></script>
<script src="/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/dist/js/adminlte.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.0.2/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.15/dist/sweetalert2.all.min.js"></script>
<script th:inline="javascript">
  let user = [[${user}]];
  let plans = [[${planList}]];
  let friends = [[${friends}]];
  let friendRequests = [[${friendRequests}]];
  let promiseRequests = [[${promiseRequests}]];
</script>
<script type="module" src="/dist/js/volka/bej/bejMain.js"></script>
<script type="module" src="/dist/js/volka/friend.js"></script>
</body>
</html>
