<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>volka 회원정보수정 </title>

  <link rel="stylesheet" href="/dist/css/reset.css">
  <link rel="stylesheet" href="/dist/css/user-info.css">
  <link rel="stylesheet" href="/plugins/fontawesome-free/css/all.min.css">
  <link rel="stylesheet" href="/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
  <link rel="stylesheet" href="/dist/css/adminlte.min.css">

</head>
<body class="hold-transition register-page">
<div class="register-box">
  <div class="card card-outline card-silver">
    <div class="card-header text-center">
      <a href="/volka" class="h1"><b>VOLKA</b></a>
    </div>
    <div class="card-body">
      <p class="login-box-msg">개인정보 수정</p>

      <form action="/setting/info" method="post" id="infoChangeForm">
        <div class="form-group row">
          <label for="userEmail" class="col-sm-4 col-form-label" style="font-size: 14px;">Email</label>
          <div class="col-sm-8">
            <input type="email" class="form-control" id="userEmail" name="userEmail" th:placeholder="${user.userEmail}" readonly>
          </div>
        </div>
        <div class="form-group row">
          <label for="userId" class="col-sm-4 col-form-label" style="font-size: 14px;">아이디</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" id="userId" name="userId" th:placeholder="${user.userId}" readonly>
          </div>
        </div>
        <div class="form-group row">
          <label for="userName" class="col-sm-4 col-form-label" style="font-size: 14px;">이름</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" id="userName" name="userName">
          </div>
        </div>
        <div class="form-group row">
          <label for="userNickName" class="col-sm-4 col-form-label" style="font-size: 14px;">닉네임</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" id="userNickName" name="userNickName">
          </div>
        </div>
        <div class="form-group row">
          <label for="userPhone" class="col-sm-4 col-form-label" style="font-size: 14px;">휴대폰</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" id="userPhone" name="userPhone" placeholder="숫자만 입력하세요">
          </div>
        </div>
        <div class="row">
          <div class="col-8">
            <div class="icheck-silver">
              <input type="checkbox" id="agreeTerms" name="terms" value="agree">
              <label for="agreeTerms">
                수정을 동의합니다.
              </label>
            </div>
          </div>
          <div class="col-4">
            <button type="submit" class="btn-silver btn-block">수정하기</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<script src="/plugins/jquery/jquery.min.js"></script>
<script src="/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/dist/js/adminlte.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.15/dist/sweetalert2.all.min.js"></script>
<script layout:fragment="script" th:inline="javascript">
  const error = [[${error}]];

  if (error && error === 'nickName') {
    Swal.fire({
      icon: 'error',
      title: '오류',
      text: '동일한 nickName 을 가진 계정이 존재합니다.',
      confirmButtonText: '확인'
    });
  }
</script>
<script src="/dist/js/volka/friend.js"></script>

</body>
</html>
