<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>volka forgot id</title>

  <link rel="stylesheet" href="/dist/css/reset.css">
  <link rel="stylesheet" href="/dist/css/user-info.css">
  <link rel="stylesheet" href="/plugins/fontawesome-free/css/all.min.css">
  <link rel="stylesheet" href="/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
  <link rel="stylesheet" href="/dist/css/adminlte.min.css">
</head>
<body class="hold-transition login-page">
<div class="login-box">
  <div class="card card-outline card-silver">
    <div class="card-header text-center">
      <a href="/user/login" class="h1"><b>VOLKA</b></a>
    </div>
    <div class="card-body">
      <p class="login-box-msg">아이디를 잊으셨나요? Email로 ID를 찾아보세요.</p>
      <form action="/user/forgotid" method="post">
        <div class="input-group mb-3">
          <input type="email" class="form-control" placeholder="Email" name="userEmail">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-envelope"></span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <button type="submit" class="btn-silver btn-block">Email로 ID 전송</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<script src="/plugins/jquery/jquery.min.js"></script>
<script src="/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/dist/js/adminlte.min.js"></script>
</body>
</html>
