<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<footer th:fragment="footer" class="main-footer" style="background-color: #f8f8f8; padding: 15px; text-align: center;">
    <div style="color: #888;">
        <b>version:</b> 1.0
    </div>

    <p style="margin-bottom: 0;">
        <strong style="color: #333;">&copy; 2023 <a href="#" style="color: #a3a3a3; text-decoration: none;">VOLKA</a></strong>
        는 일정 관리에 도움을 주는 플랫폼입니다.
    </p>
</footer>
</body>
</html>