<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- Navbar -->
    <nav th:fragment="top" class="main-header navbar navbar-expand navbar-white navbar-light">
        <!-- Left navbar links -->
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
            </li>
            <li class="nav-item d-none d-sm-inline-block">
                <a href="/volka" class="nav-link">Home</a>
            </li>
            <li class="nav-item d-none d-sm-inline-block">
                <a href="/bej/main" class="nav-link">BeJ</a>
            </li>
            <li class="nav-item d-none d-sm-inline-block">
                <a href="/setting/info" class="nav-link">Setting</a>
            </li>
        </ul>

        <!-- Right navbar links -->
        <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown" id="message">
                <a class="nav-link" data-toggle="dropdown" href="#" aria-expanded="false">
                    <i class="far fa-comment"></i>
                    <span class="badge badge-primary navbar-badge">2</span>
                </a>
                <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right" style="left: inherit; right: 0px;">
                    <span class="dropdown-item dropdown-header">2개의 알림</span>
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item">
                        <i class="far fa-comment"></i>a님과의 채팅방
                        <span class="float-right text-muted text-sm">3 mins</span>
                    </a>
                </div>
            </li>

            <li class="nav-item dropdown" id="friendship">
                <a class="nav-link" data-toggle="dropdown" href="#" aria-expanded="false">
                    <i class="fas fa-users"></i>
                    <span class="badge badge-warning navbar-badge req-count" th:text="${#lists.size(friendRequests)}"></span>
                </a>
                <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right" style="left: inherit; right: 0px;">
                    <span class="dropdown-item dropdown-header req-num" th:text="${#lists.size(friendRequests)} + '개의 알림'"></span>
                    <div th:each="friend : ${friendRequests}" class="friend-requests">
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item req-name">
                            <input type="hidden" class="friend-no" th:value="${friend.friendNo}">
                            <i class="fas fa-users mr-2"></i> [[${friend.friendNickName}]]님의 친구신청
                            <div class="float-right">
                                <div class="btn-group">
                                    <button class="btn btn-outline-success btn-xs ml-2 mr-1 friend-req-accept">수락</button>
                                    <button class="btn btn-outline-danger btn-xs friend-req-reject">거절</button>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </li>

            <li class="nav-item dropdown" id="promise-request-alarm">
                <a class="nav-link" data-toggle="dropdown" href="#" aria-expanded="false">
                    <i class="far fa-envelope"></i>
                    <span class="badge badge-danger navbar-badge promise-count" th:text="${#lists.size(promiseRequests)}"></span>
                </a>
                <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right" style="left: inherit; right: 0px;">
                    <span class="dropdown-item dropdown-header promise-num" th:text="${#lists.size(promiseRequests)} + '개의 알림'"></span>
                    <div th:each="promise : ${promiseRequests}" class="promise-requests">
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item promise-name">
                            <i class="far fa-envelope mr-2"></i> [[${promise.targetUser}]]님의 약속 요청
                            <input class="promiseNo" type="hidden" th:value="${promise.promiseNo}">
                            <div class="float-right">
                                <div class="btn-group">
                                    <button class="btn btn-outline-success btn-xs promise-request-btn">보기</button>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </li>
            <li class="nav-item">
                <a href="/logout" class="nav-link">Logout</a>
            </li>
        </ul>
    </nav>


    <aside th:fragment="sidebar" class="main-sidebar sidebar-primary elevation-4">
        <!-- Brand Logo -->
        <a href="/volka" class="brand-link py-4" style="border-bottom: 1px solid lightgrey;">
            <img src="/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
                 style="opacity: .8">
            <span class="brand-text font-weight-bold" style="color: black;">VOLKA</span>
        </a>
        <!-- Sidebar -->
        <div class="sidebar">
            <!-- Sidebar user panel (optional) -->
            <div class="user-panel mt-3 pb-3 mb-3 d-flex" style="border-bottom: 1px solid lightgrey;">
                <div class="image">
                    <img src="/dist/img/volka.jpg" class="img-circle elevation-2" alt="User Image">
                </div>
                <div class="info">
                    <a class="d-block" th:text="${user.userNickName}" style="color: black; font-weight: bold;"></a>
                </div>
            </div>
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li th:class="${#httpServletRequest.getRequestURI() == '/bej/main' ? 'nav-item menu-is-opening menu-open' : 'nav-item'}">
                    <a href="#" class="nav-link">
                        <i class="nav-icon far fa-calendar"></i>
                        <p>
                            BeJ
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview" th:style="${#httpServletRequest.getRequestURI() == '/bej/main' ? 'display: block;' : 'display: none;'}">
                        <li class="nav-item">
                            <a href="/bej/main" th:class="${#httpServletRequest.getRequestURI() == '/bej/main' ? 'nav-link active' : 'nav-link'}">
                                <i class="far fa-circle nav-icon"></i>
                                <p>main</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-user-cog"></i>
                        <p>
                            Setting
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/setting/info" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>개인정보 수정</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/setting/password" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>비밀번호 변경</p>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </aside>

</body>
</html>